.cabecalho{
    background-color:#2F4F4F ;
    height: 120px;
    padding: 50px 30px 5px 5px;
    border-radius: 5px;
}

.bem-vindo{
    margin-left: 50px;
    background-color:#6A5ACD ;
    color: wheat;
    border-width: 20px;
    border-style: ridge ;
    border-style: 20px;
  
}





.cabecalho2 {
    
  
    
}

.barra-de-links{
    background-color: #FFD700;
}

.link-outra-pagina{

}

/* ----------------------------- */