*{
    margin: 0;
    padding:0;
}

h2, p{
    padding: 8px;
}


.general-container{
    display: grid;
    grid-template-rows: 60px 1fr 90px;
    grid-template-columns: 280px 1fr;
    max-height: 100vh;
}

/* HEADER --------------- */

header{
    display: flex;
    background-color: mediumvioletred;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    grid-column: 1  / -1;
}
.icone-e-texto{
    display: flex;
    align-items: center;
}
.icone{
    height: 20px;
    margin-right: 12px;
}

/* NAV ------------------  */
nav{
    background-color: #f2d0e0;
    width: 200px; 
    padding: 10px;
}

.botao-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* MAIN ------------------ */
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 20px;
    overflow: auto;
}

.card-produto{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px darkgray ;
}

.imagem-card{
    width: 100%;
}

/* FOOTER -------------------- */

footer{
    background-color: mediumvioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1  / -1;
}