/* tela de detalhe1 */
*{
    margin: 0;
    padding: 0;
}





header{
    display: flex;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
}

.header-titulo{
    align-items: flex-start;
    
}

.header-busca{
    align-items: flex-end;
}



.main-video{
    height: 640px;
    width: 1000px;

    
   
}

.main-video > video{
    height: 500px;
    width: 800px;
    padding-left: 400px;

    
}

footer{
    display: flex;
    background-color: rgb(44, 58, 55) ;
    align-items: center;
    padding: 0 20px;
    height: 100px;
}

footer > p{
    color: white;
    font-size: 50px;
}
